body {
    color: white;
    background-image: url('../images/bwbg.jpg');
    background-position: center;
}

.clock {
    float: right;
}

.jumbotron {
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
}

.panel {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, .4);
}

.splitFlap {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, .8)!important;
}

.panel-heading {
    background-color: transparent!important;
}

.panel-title {
    color: white;
}